{% extends 'base.html' %}
{% load static %}
{% block content %}
    
<section >
  <div class="row fixed-top  " style="top: 7rem; margin-left: 18rem;" >
   
    <div class="col-md-10 " style=" position: fixed;">
        <div class="row">
            <div class="col-md-3"><a class="text-white" style="font-size: 2rem;">All Items</a></div>
            <div class="col-md-6 form-inline" style="margin-left: 55rem;margin-top: -2rem;"><a style="color: #ccc;" class="btn btn-success mr-2" href="{% url 'additem' %}"><i class="fa-solid fa-plus "></i>New</a>
              <a style="color: #ccc;"href="#3">      
                <form action="">
                  <select name="" class="form-control">
                    <option value="">...</option>
                    <option value="active" >Sort</option>
                    <option value="inactive" >Clone</option>
                </select>
                </form> </a>
            </div>
          </div>   
    
        <table class="table  text-white">
            <thead>
              <tr>
                <th>Name</th>
                <th>description</th>
                <th>Rate</th>
                <th>usage unit</th>
              </tr>
            </thead>
            <tbody>
              {% for v in view %}
     
              <tr>
     
               <td onclick="location.href ='{% url 'detail' v.id %}' " > {{v.Name}}</td>
                <td>{{v.s_desc}}</td>
                <td>{{v.s_price}}</td>
                <td>{{v.unit.unit}}</td>
               
              </tr>
              {% endfor %}
            </tbody>
          </table>
      

           
           </div>

    </div>
  </div>
 
</section>


{% endblock %}